h1 {
	color: orange; 
	font-family: sans-serif
}

h2 {
	color: orange; 
	font-family: sans-serif
}

h3 {
	font-family:'garamond';
}

p {
  font-family: sans-serif;
}

body {
		background-size: cover;
	}

img {
	opacity: 0;
	filter: alpha(opacity=0); 
}